# Приватные файлы
usefull_info.md
/sith/secrets.py
/notebook.md
/test
vault_password

# Файлы, создаваемые приложением
*.pyc
*.log
*.retry
__pycache__/
.idea/
.vagrant/

# Статика
test/*
static/**
bower_components
/inventory/templates/admin/inventory/component/edit_inline/stacked_orig.html
/media
/collect_static



